<div class="container mt-4">
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <div>
            <strong>Company Name:</strong>
            <p>{{company.name}}</p>
          </div>
          <div>
            <strong>Tags</strong>
            <p>{{company.tags}}</p>
          </div>
          <div>
            <strong>Description</strong>
            <p>{{company.description}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8">      
      <div class="tab-panel">
        <tabset>
          <tab heading="Expenses">
            <div class="row mt-4 mb-4 expense-header">
              <div class="col-sm-2">
                Paid To
              </div>
              <div class="col-sm-2">
                Mode
              </div>
              <div class="col-sm-2">
                Amount
              </div>
              <div class="col-sm-4">
                Description
              </div>
              <div class="col-sm-2">
                Paid On
              </div>
            </div>
            <app-expense *ngFor="let expense of company.expenses"  [expense] = expense></app-expense>  
          </tab>
        </tabset>
      </div>
  </div>
</div>
