<form #addCompanyForm="ngForm" (ngSubmit)="register()">
  <h2 class="text-center text-primary">Add Company</h2>
  <hr>

  <div class="form-group">
    <input type="text" class="form-control" required name="companyName" [(ngModel)]="model.name" placeholder="Name Name">
  </div>

  <div class="form-group">
    <input type="textarea" class="form-control" required name="description" [(ngModel)]="model.description" placeholder="Description">
  </div>

  <div class="form-group">
    <input type="textarea" class="form-control" required name="tags" [(ngModel)]="model.tags" placeholder="Add multiple tags separated by ','">
  </div>

  <div class="form-group text-center">
    <button class="btn btn-success" type="submit">Register</button>
    <button class="btn btn-default" type="button" (click)="cancel()">Cancel</button>
  </div>
  
</form>